/* ABOUT */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: center; 
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    gap: 50px;
}

.link {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: 0.2s;
}

.link:hover {
    color: #007bff;
}

h1 {
    font-size: 40px;
}

.img {
    border-radius: 20px;
    transition: 0.2s;
}

.img:hover {
    transform: scale(1.05);
}

.description {
    font-size: 20px;
}

.about-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 20px;
}

.about-us {
    text-align: center;
    margin-bottom: 60px;
}

.title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    margin-top: 50px;
}

.btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transition: 0.3s ease; 
}

.btn:hover {
    cursor: pointer;
    background: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
}

.btn:active {
    transform: translateY(-1px);
}





/* NEW */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #333;
    height: 50px;
}


.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img-container img {
    max-width: 100%;
}

.book-card span {
    display: block;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #28a745;
    letter-spacing: 3px;
}

.btn-previous, .btn-next {
    background-color: #f0f0f0;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-previous:hover, .btn-next:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-previous:active, .btn-next:active {
    transform: scale(0.95);
}




/* SEARCH */

input {
    padding: 10px;
    font-size: 18px;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

input {
    padding: 12px 20px;
    font-size: 18px;
    width: 40%;
    border: 2px solid #ddd;
    border-radius: 30px;
    outline: none;
    transition: 0.3s;
}

.search-btn {
    background: none;
    border: none;
    transition: 0.3s;
}

.search-btn:hover {
    cursor: pointer;
    scale: 1.05;
}

.search-btn:active {
    transform: translateY(3px);
}

input:focus {
    border-color: #007bff;
}

select {
    padding: 10px 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
}


.search-form {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.search-results .book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 0 1;
    
    min-width: 300px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    
    transition: 0.3s ease;
    box-sizing: border-box;
}

.search-results .book-card:hover {
    transform: translateY(-10px);
}

.search-results h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 60px;
    margin-bottom: 15px;
}

.search-results img {
    max-width: 100%;
    height: 250px;
    object-fit: contain;
    margin-bottom: 15px;
}

.search-results span {
    font-size: 22px;
    font-weight: 700;
    color: #28a745;
}

@media all and (max-width: 500px) {
    .btn-previous, .btn-next {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
    }
}